# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / building
build/
dist/
*.spec
*.exe
*.zip
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp

# Project specific
theme_config.txt
temp/
dist_nuitka/

