pandas>=2.0.0,<3.0.0
matplotlib>=3.7.0,<4.0.0
PyQt6>=6.5.0,<7.0.0
pyqtdarktheme>=2.1.0,<3.0.0
pdfplumber>=0.10.0,<1.0.0
pyinstaller>=5.13.0,<6.0.0
natsort>=8.4.0,<9.0.0
scipy>=1.11.0,<2.0.0

# Build Tools
nuitka>=2.0.0,<3.0.0